APP_NAME=CineScope
APP_ENV=local
APP_KEY=base64:3f0hF4eYdM4qU/xS08zWcR/lE2O8aBvC7gQjW1+L9y0=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack

# Konfigurasi Database untuk Docker Container (Service 'db')
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=omdb_movie_lists
DB_USERNAME=root
DB_PASSWORD=toor

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

OMDB_API_KEY=5eb0687b
OMDB_BASE_URL=http://www.omdbapi.com
