/node_modules
/vendor
npm-debug.log
yarn-error.log

# Laravel specific
public/storage
public/hot
storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant
/public/build
/storage/pail
.phpactor.json
auth.json
